kms-key=gcpkms://projects/cloudy-demos/locations/us-west1/keyRings/github-actions/cryptoKeys/signer/cryptoKeyVersions/1
id-provider=projects/799736955886/locations/global/workloadIdentityPools/github-pool/providers/github-provider
service-account=github-actions-user@cloudy-demos.iam.gserviceaccount.com
registry-uri=us-west1-docker.pkg.dev
registry-name=cloudy-demos/hello-gha